
.contenedor{
    max-width: 1500px;
    margin: auto;
    
    
}
.header{
    background-color: rgb(68, 68, 61);
    height: 60px;
    
}

.menu{
    background-color: rgb(131, 40, 40);
    width: 20%;
    
    
}
.content{
    background-color: brown;
    width: 80%;
}
.container{
    background-color: rgb(79, 79, 160);
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: row-reverse;
}
.footer{
    background-color: red;
    height: 30px;
}